
<h1>Add Test</h1>



<form #testform=ngForm (ngSubmit)="testform.valid && addTest(testform)">

    <div class="form-group">

        <label>Test Title</label>
        <input type="text" name="testTitle" required minlength="2" placeholder="enter test name" ngModel
            #testtitleCtrl=ngModel class="form-control">

    </div>
    <div *ngIf="testtitleCtrl.errors!==null &&  testtitleCtrl.errors.required" class="error">
        test title is requird
    </div>

    <div *ngIf="testtitleCtrl.errors!=null && testtitleCtrl.errors.minlength" class="error">
        minlength is 2
    </div>



    <div class="form-group">

        <label>Test Duration</label>
        <input type="text" name="testDuration" required minlength="2" placeholder="enter test duration" ngModel
            #testdurationCtrl=ngModel class="form-control">

    </div>
    <div *ngIf="testdurationCtrl.errors!==null &&  testdurationCtrl.errors.required" class="error">
        test duration is requird
    </div>
    <div *ngIf="testdurationCtrl.errors!=null && testdurationCtrl.errors.minlength" class="error">
        minlength is 2
    </div>




    <div class="form-group">

        <label>Total Mark</label>
        <input type="number" name="testTotalMark"  required maxlength="4"  placeholder="enter marks"  ngModel
         #testTotalMarkCtrl=ngModel class="form-control">

    </div>
    <div *ngIf="testTotalMarkCtrl.errors!==null &&  testTotalMarkCtrl.errors.required" class="error">
        total Marks
    </div> 

    <div *ngIf="testTotalMarkCtrl.errors!=null && testTotalMarkCtrl.errors.maxlength" class="error">
        maximum length 4 and minimum is 2
    </div> 

    <!-- doubt in this part maxlength is not working for integer working fine for text -->




    <div class="form-group">


        <label> Marks Scored</label>
        <input type="number" name="testMarkScored" required maxlength="4" placeholder="Scored marks" ngModel
            #testMarkScoredCtrl=ngModel class="form-control">

    </div>
    <div *ngIf="testMarkScoredCtrl.errors!==null &&  testMarkScoredCtrl.errors.required" class="error">
        scored Marks
    </div>

    <div *ngIf="testMarkScoredCtrl.errors!=null && testMarkScoredCtrl.errors.maxlength" class="error">
        minlength is 0 maxxx is 5
    </div>


    <div class="form-group">

        <label>startTime</label>
        <input type="text" name="startTime" required minlength="2" placeholder="enter startTime" ngModel
            #starttimeCtrl=ngModel class="form-control">

    </div>
    <div *ngIf="starttimeCtrl.errors!==null &&  starttimeCtrl.errors.required" class="error">
        start time required
    </div>
    <div *ngIf="starttimeCtrl.errors!=null && starttimeCtrl.errors.minlength" class="error">
        minlength is 2
    </div>




    <div class="form-group">

        <label>endTime</label>
        <input type="text" name="endTime" required minlength="2" placeholder="enter endTime" ngModel
            #endtimeCtrl=ngModel class="form-control">

    </div>
    <div *ngIf="endtimeCtrl.errors!==null &&  endtimeCtrl.errors.required" class="error">
        start time required
    </div>
    <div *ngIf="endtimeCtrl.errors!=null && endtimeCtrl.errors.minlength" class="error">
        minlength is 2
    </div>




    <input type="submit" value="Submit" class="btn btn-primary">
</form>
<br>
<div *ngIf="test!==undefined" >


    <div class="alert alert-primary" role="alert">
        <h3 class="alert-heading"> Test Added Successfully</h3>

      </div>


     
   




    <br><br>
    <br><br>

    <!-- Id is {{test.id}} <br><br>
    Title is {{test.testTitle}} <br><br>
    Duration is {{test.testDuration}} <br><br>
    Total marks is {{test.testTotalMark}} <br><br>
    Marks Scored is {{test.testMarkScored}} <br><br>
    Time when test get started {{test.startTime}} <br><br>
    Time when test ends {{test.endTime}} <br><br> -->

</div>