<!-- 
<div class="alert alert-primary" role="alert">
    <h6>Welcome To Home Page!</h6>
    </div> -->
    

    <h4>Welcome To Home Page</h4>
    

    



<div class="alert alert-primary" role="alert">
<h1> Online Test Management System </h1>
</div>

<br><br><br><br><hr><hr>

<div class="alert alert-primary" role="alert">
    <h6>   Performing These Operations </h6>
    </div>



    <div class="alert alert-primary" role="alert">
        <h6>  1:-  Adding Test</h6>
        </div>
        <div class="alert alert-primary" role="alert">
            <h6> 2:- Displaying Test Details </h6>
            </div>
            <div class="alert alert-primary" role="alert">
                <h6> 3:-  Displaying Test List </h6>
                </div>

                <div class="alert alert-primary" role="alert">
                    <h6> 4:-  Removing Test  </h6>
                    </div>
                


    

    








<!-- <img src="../../assets/book.jfif" class="img-fluid" alt="Responsive image" >  -->


<!-- <img src="../../assets/book.jfif " style="width:110%"> -->

<!-- 

<img src="../../assets/book.jfif"  width="830" height="910">  -->

